* {
      box-sizing: border-box;
    }

    body {
      font-family: Verdana, sans-serif;
    }


    img {
      vertical-align: middle;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkt-animation-duration: 1.5s;
      animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

    @keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev, .next, .text {
        font-size: 11px
      }
    }
/* Slideshow container */
    .slideshow-container {
      max-width: 2560px;
      max-height: 800px;
      position: relative;
      margin: auto;
    }
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/*
.slideshow-container .store{
    align-content: center;
}
.slideshow-container .store a{
    position: absolute;
    top: 45%;
    left: 30%;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background: tomato;
    background-color: red;
    border-radius: 25px;
    z-index: 10;
}
*/
    
/*
.nav-bar .nav{
    position: absolute;
    top: 5%;
    left: 33%;
    text-align: center;
    overflow: hidden;
    z-index: 10;
    
}
.nav-bar .nav a{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    
}
.nav-bar .nav a:hover{
    color: red;
    
}
*/
.navbar-header{
    margin-top: 1%;
}
.navg{
    margin-top: 2.5%;
}
.nav.navbar-nav.na{
    
    position:relative;
    float: right;
    color: white;
    font-weight: 550;
    font-size: 16px;
    margin-right: 5%;
    text-transform: uppercase;
    background-color: transparent;
    
}
.nav.navbar-nav.na a{
    color: white;
    
}
.a:focus {
  outline: none;
    text-decoration: none;
    color: #ff4d4d;
}
.nav.navbar-nav.na > li > a:hover{
    color:#ff4d4d;
    background-color: transparent;

}
ul li ul {
  visibility: hidden;
  position: absolute;
  transition: all 5s ease;
  width: 125%;
  display: none;
    
}
ul li:hover > ul,
ul li ul:hover {
    
    visibility: visible;
    display: block;
    color: #ff4d4d;
    background-color:#333333;
    list-style: none;
    list-style-type: none;
    font-size: 13;
}
ul li ul li {
    padding: 5% 0%;
    margin-top: 3%;
  clear: both;
}
ul li ul li a:hover{
     text-decoration: none;
    color: #ff4d4d;
}
bg-text{
    color: white;
    background-color: black;
    
}
/*
.dropdown.dropdown-menu{
    background-color:blue;
    color: white;
}
.dropdown-menu > li > a{
    background-color: black;
    color: white;
}
.dropdown-menu > li > a:hover{
    color: #ff4d4d;
}
*/
.design{
    height: auto;
    width: 100%;
}

.our-company{
    position: relative;
    width: 100%;
    background: cover;
    overflow: hidden;
}
.image{
  width: 100%;
  height: auto;
    
}
.overlay{
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background:  rgba(102, 102, 255,0.25);
    width: 100%;
    height: 100%;
}
.our_company_text{
    background: cover;
    overflow: hidden;
    color: white;
  position: absolute;
  padding: 1% 6%;
  top: 4%;
  left: 5%;
  text-align: center;
}
.our-company h2{
    font-size: 30px;
    padding: 1% 0px; 
}
.our-company p{
    font-size: 24px;
    position: relative;
    margin: 0% 5%;
    padding: 1% 5%;
}

.container{
    padding: 1% 0%;
    
}